$textStyle: "Poppins", sans-serif;
$smokeColor: #f1ece6;
$liteSmokeColor: #f3f3f3;
$black: black;
$btnColor: #76b7cd;
$white: white;
$hoverBtn: blue;
$gray: #737373;
$checkBox: #d98326;
$liBorder: #76b7cd;
$gold: gold;
$grayLight: #c2c2c2;
