$textStyle: 'Poppins', sans-serif;
$smokeColor: #F1ECE6;
$liteSmokeColor: #F3F3F3;
$black: black;
$btnColor: #76B7CD;
$white: white;
$hoverBtn: blue;
$gray: #737373;
$checkBox: #D98326;
$liBorder: #76B7CD;
$gold : gold;
$grayLight: #C2C2C2;